{% extends 'myapp/base.html' %}
{% block body_block %}
    <a href="{% url 'myapp:placeorder' %}">New Order</a>
    <p><b>Courses:</b></p>


    {% if course_list %}
        <ol>
            {% for course in course_list %}
                <li>
                    <a href="{% url 'myapp:coursedetail' course.id %}">{{ course.name}}</a>
                </li>
            {% endfor %}
        </ol>
    {% else %}
        <strong>There are no available courses!</strong>
    {% endif %}
{% endblock %}
