<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Topic - {{ topic_name }}</title>
</head>
<body>
    <h1>Name - {{ name }}</h1>
    <h2>Category - {{ topic_name }}</h2>
    <h3>Courses in the above topics</h3>

    {% for course  in courses %}
        <li> {{course}} </li>
    {% endfor %}

    <p>
        <a href="{% url "myapp:index" %}">Home page</a>
    </p>

</body>
</html>