{% extends 'myapp/base.html' %}
{% block body_block %}

    <div class="form_container">
        <form action="{% url "myapp:placeorder" %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <h2>{{ msg }}</h2>
            <div class="mb-3">
                <label for="formFile" class="form-label" style="display: block;">
                    <h4 style="margin-bottom: 2rem;">Order Form</h4>
                </label>

                <label for="course" class="form-label" style="display: block;">
                    <h4> Course </h4>
                    {{  form.course }}
                </label>

                <label for="student" class="form-label" style="display: block;">
                    <h4> Student </h4>
                    {{  form.student }}
                </label>


                <label for="levels" class="form-label" style="display: block;">
                    <h4> Levels </h4>
                    {{  form.levels }}
                </label>

                <label for="order_date" class="form-label" style="display: block;">
                    <h4> Order Date </h4>
                    {{  form.order_date }}
                </label>

                <input type="submit" value="Submit" class="btn btn-lg btn-secondary convert_button" />

            </div>
        </form>
    </div>



     <p><a href="{% url 'myapp:about' %}">About page</a></p>

     <p><a href="{% url 'myapp:courses' %}">All Courses</a></p>
{% endblock %}
